body {
    background-color: black;
}

p {
    color:white;
    font-size: 12px;
}

h1 {
    color:white;
}

h2 {
    color:white;
}

h3 {
    color: white;
}

span {
    color:yellow;
}

#green-block {
    background-color: green;
    height: 40px;
    width: 20px;
    display:inline-block;
    border-radius: 5px;
    margin-left:80px;
    margin-right:10px;
}

h1 {
    display: inline-block;
    vertical-align: middle;
}

#title-wrapper {
    height:80px;
    display: flex;
}

#submit {
    background-color: green;
    border-radius:3px;
}

div.button {
    color:white;
    background-color: green;
    border-radius: 3px;
    padding: 5px;
    width: 180px;
    text-align: center;
    border-width: 5px;
    border-style: outset;
    border-color: #008000;
}

div.button:hover {
    color:white;
    background-color: #00A000;
    border-radius: 3px;
    padding: 5px;
    width: 180px;
    text-align: center;
    border-width: 5px;
    border-style: outset;
    border-color: #00A000;
}

div.button:active {
    background-color: #006000;
    border-radius: 3px;
    padding: 5px;
    width: 180px;
    text-align: center;
    border-width: 5px;
    border-style: inset;
    border-color: #008000;
}

a {
    color:white;
    text-decoration: none;
}

a:hover {
    color:white;
    text-decoration: none;
}

.form-control {
    color:black;
    font-size: 15px;
}

#form-wrapper {
    background-color: #606060;
    border-radius: 20px;
    padding: 10px;
    border-width: 5px;
    border-style: ridge;
}