<html>
    <head>
        <title>Movie Add</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../css/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="align-items-center justify-content-start" id="title-wrapper">
            <div id="green-block"></div>
            <h1>Add Movie</h1>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-md-1">
                {% csrf_token %}
                <form method="post" action="movie-list.html">
                    <h3>Title:<h3>
                    <input type="text" name="titel"><br>
                    <h3>Description:<h3>
                    <input type="text" name="description"><br>
                    <h3>Director:<h3>
                    <input type="text" name="director"><br>
                    <h3>Release Year:<h3>
                    <input type="text" name="release-year"><br>
                    <h3>Budget:<h3>
                    <input type="text" name="budget"><br>
                    <h3>Runtime:<h3>
                    <input type="text" name="runtime"><br>
                    <h3>Rating:<h3>
                    <input type="text" name="rating"><br>
                    <h3>Genre:<h3>
                    <input type="text" name="genre"><br><br>
                    <input type="submit" value="OK" id="submit">
                </form>
            </div>
        </div>
    </body>
</html>