<html>
<body>
    <p>
        Original name was {{original_name}} title name is {{new_name}}
    </p>
    <ol>
        {% for str in name_list %}
            <li>{{str}}</li>
        {% endfor %}
    </ol>
    <p>The second name is {{name_list.1}}</p>
    <ol>
        {% for str in title_name_list %}
            <li>{{str}}</li>
        {% endfor %}
    </ol>
    <p>
        The first car is {{car1.color}} and goes {{car1.sound}}. <br>
        The second car is {{car2.color}} and goes {{car2.sound}}. <br>
        The motorcycle is {{motorcycle1.color}} and goes {{motorcycle1.sound}}.
    </p>
</body>
</html>
